@font-face {
  font-family: 'varela';
  src: url('fonts/varelaround-regular-webfont.eot');
  src: url('fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/varelaround-regular-webfont.woff') format('woff'), url('fonts/varelaround-regular-webfont.ttf') format('truetype'), url('fonts/varelaround-regular-webfont.svg#varela') format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
img {
  max-width: 100%;
  height: auto;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Normalize + HTML5 Boilerplate Reset*/
/* GRID LESS */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* Semantic Grid System */
/* Semantic Setup */
.container {
  margin: 0 auto;
  position: relative;
}
/* Login */
html,
body {
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: 'varela', sans-serif;
  font-size: 24px;
  color: white;
}
/* login screen stuff */
#logo {
  display: block;
  margin: 40px auto 0 auto;
  width: 40%;
  height: auto;
}
.login_form {
  margin-top: 100px;
}
.login_form ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0 10%;
}
.login_form li {
  margin-bottom: 5px;
}
.login_form input {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 15px 0 15px 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#username {
  background: #ffffff url(../img/user_logo.png) no-repeat 10px;
}
#password {
  background: #ffffff url(../img/pwd_logo.png) no-repeat 10px;
}
/*
    TODO cor dos placeholders de login
.login_form input::-webkit-input-placeholder, 
.login_form input:-moz-placeholder , 
.login_form input::-moz-placeholder, 
.login_form input:-ms-input-placeholder{
   color: white;
}
*/
.login_form button {
  border-radius: 4px;
  width: 100%;
  background-color: #f47063;
  border: none;
  color: #fff;
  font-family: 'varela', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 25px;
  padding: 15px 0;
  box-shadow: 0 4px 0 #913229;
  text-shadow: 0 1px 2px #511711;
}
.login_form button:active {
  box-shadow: inset 0 4px 0 #913229;
}
.login_form p {
  text-align: center;
  color: white;
  font-family: 'varela', sans-serif;
  font-size: 14px;
}
.login_form p a {
  color: #63cdf4;
}
/* CSS Breakpoints */
/* Smartphones */
@media (max-width: 480px) {
  
}
/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  
}
/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {
  
}
/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
  
}
/* Large Display */
@media (min-width: 1200px) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
