@font-face {
    font-family: 'varela';
    src: url('fonts/varelaround-regular-webfont.eot');
    src: url('fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/varelaround-regular-webfont.woff') format('woff'),
         url('fonts/varelaround-regular-webfont.ttf') format('truetype'),
         url('fonts/varelaround-regular-webfont.svg#varela') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "reset.less"; /* Normalize + HTML5 Boilerplate Reset*/
@import "grid.less"; /* Semantic Grid System */

/* Semantic Setup */
@min-width: 100%;
@correction: 0.5 / @min-width * 100 * 1%;
@column-width: 55;
@gutter-width: 16;
@columns: 16;
@total-width: 100%;

.container{
    margin: 0 auto;
    position: relative;
}

/* Login */
html, body{
    background: url(../img/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-family: 'varela', sans-serif;
    font-size: 24px;
    color: white;
}


/* login screen stuff */

#logo{
    display: block;
    margin: 40px auto 0 auto;
    width: 40%;
    height: auto;
}

.login_form{
    margin-top: 100px;
}

.login_form ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0 10%;
}


.login_form li{
    margin-bottom: 5px;
}

.login_form input {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 15px 0 15px 55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;

}

#username{
    background: #fff url(../img/user_logo.png) no-repeat 10px;
}

#password{
    background: #fff url(../img/pwd_logo.png) no-repeat 10px;
}

/*
    TODO cor dos placeholders de login
.login_form input::-webkit-input-placeholder, 
.login_form input:-moz-placeholder , 
.login_form input::-moz-placeholder, 
.login_form input:-ms-input-placeholder{
   color: white;
}
*/

.login_form button{
    border-radius: 4px;
    width: 100%;
    background-color: #f47063;
    border: none;
    color: #fff;
    font-family: 'varela', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 25px;
    padding: 15px 0;
    box-shadow: 0 4px 0 #913229;
    text-shadow: 0 1px 2px #511711;
}

.login_form button:active{
    box-shadow: inset 0 4px 0 #913229;
}


.login_form p {
    text-align: center;
    color: white;
    font-family: 'varela', sans-serif;
    font-size: 14px;

}

.login_form p a {
    color: #63cdf4;
}


/* CSS Breakpoints */
/* Smartphones */
@media (max-width: 480px) {

}

/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {

}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {

}

/* Large Display */
@media (min-width: 1200px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}
