@font-face {
  font-family: 'varela';
  src: url('fonts/varelaround-regular-webfont.eot');
  src: url('fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/varelaround-regular-webfont.woff') format('woff'), url('fonts/varelaround-regular-webfont.ttf') format('truetype'), url('fonts/varelaround-regular-webfont.svg#varela') format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
img {
  max-width: 100%;
  height: auto;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Normalize + HTML5 Boilerplate Reset*/
/* GRID LESS */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* Semantic Grid System */
/* Semantic Setup */
/* My Styles Here */
/*
    GENERAL STYLES 
    [ TYPOGRAPHY, INPUTS, BUTTONS ]
*/
h3 {
  font-family: 'varela', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-family: 'varela', sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
p,
a,
a:visited {
  font-family: 'varela', sans-serif;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
a,
a:visited {
  text-decoration: none;
}
body,
html {
  background: #efece7;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* feed screen stuff */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #58ddc0;
  padding: 10px 0;
  z-index: 6;
  box-shadow: 0px 4px 0px 0px rgba(216, 211, 206, 0.5);
}
.top_bar {
  display: inline;
  float: left;
  width: 97.05882352941177%;
  margin: 0 1.4705882352941175%;
  *width: 97.0141806722689%;
  *margin: 0 1.4259453781512603%;
}
.top-bar-row {
  display: block;
  width: 102.94117647058823%;
  margin: 0 -1.4705882352941175%;
  *width: 102.89653361344537%;
  *margin: 0 -1.5152310924369747%;
  *zoom: 1;
}
.top-bar-row:before,
.top-bar-row:after {
  content: "";
  display: table;
}
.top-bar-row:after {
  clear: both;
}
.menu_btn {
  display: inline;
  float: left;
  width: 22.058823529411764%;
  margin: 0 1.4705882352941175%;
  *width: 22.014180672268907%;
  *margin: 0 1.4259453781512603%;
}
.menu_btn img {
  display: block;
  height: 21.5px;
}
.snappy {
  display: inline;
  float: left;
  width: 47.05882352941176%;
  margin: 0 1.4705882352941175%;
  *width: 47.01418067226891%;
  *margin: 0 1.4259453781512603%;
}
.snappy img {
  display: block;
  margin: 0 auto;
  height: 28px;
}
.options_btns {
  display: inline;
  float: left;
  width: 22.058823529411764%;
  margin: 0 1.4705882352941175%;
  *width: 22.014180672268907%;
  *margin: 0 1.4259453781512603%;
}
.options_btns ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.options_btns ul li {
  float: left;
  margin-left: 15px;
}
.options_btns ul li img {
  display: block;
  height: 22px;
}
.feed {
  width: 100%;
  float: left;
  display: inline;
  background: #efece7;
  position: relative;
  padding: 10px 10px;
  z-index: 3;
  padding-top: 70px;
}
.snappy_item {
  background-color: #fff;
  float: left;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 10px;
}
.pic {
  display: inline;
  float: left;
  width: 97.05882352941177%;
  margin: 0 1.4705882352941175%;
  *width: 97.0141806722689%;
  *margin: 0 1.4259453781512603%;
}
.pic img {
  display: block;
  margin: 0 auto;
}
.pic_info {
  display: inline;
  float: left;
  width: 97.05882352941177%;
  margin: 0 1.4705882352941175%;
  *width: 97.0141806722689%;
  *margin: 0 1.4259453781512603%;
  margin-top: 10px;
}
.pic_info_row {
  display: block;
  width: 102.94117647058823%;
  margin: 0 -1.4705882352941175%;
  *width: 102.89653361344537%;
  *margin: 0 -1.5152310924369747%;
  *zoom: 1;
}
.pic_info_row:before,
.pic_info_row:after {
  content: "";
  display: table;
}
.pic_info_row:after {
  clear: both;
}
.user_thumb,
.pic_btns {
  display: inline;
  float: left;
  width: 47.05882352941176%;
  margin: 0 1.4705882352941175%;
  *width: 47.01418067226891%;
  *margin: 0 1.4259453781512603%;
}
.user_thumb img {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
}
.user_thumb h3 {
  color: #4c4c4c;
  margin: 8px 0 5px 0;
}
.elapsed-time {
  background: url(../img/clock_ico.png) no-repeat left;
  color: #aeaeae;
  float: left;
  padding-left: 25px;
}
.pic_btns ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.pic_btns ul li {
  float: left;
  text-align: center;
  padding: 0 10px;
}
.pic_btns ul li:last-child {
  border-left: 1px solid #b8b4ad;
  padding-right: 0;
}
.pic_btns ul li img {
  display: block;
  margin: 5px auto;
  height: 24px;
}
.like p {
  color: #e75858;
}
.buy p {
  color: #00b286;
}
.pic-tags {
  display: inline;
  float: left;
  width: 97.05882352941177%;
  margin: 0 1.4705882352941175%;
  *width: 97.0141806722689%;
  *margin: 0 1.4259453781512603%;
  margin-top: 15px;
}
.pic-tags h4 {
  color: #aeaeae;
}
.pic-tags ul {
  float: left;
  list-style: none;
  overflow: hidden;
  margin: 8px 0 0 0;
  padding: 0;
}
.pic-tags ul li {
  float: left;
  margin-right: 10px;
}
.pic-tags ul li a {
  color: #24b192;
}
/* CSS Breakpoints */
/* Smartphones */
@media (max-width: 480px) {
  
}
/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  
}
/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {
  
}
/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
  
}
/* Large Display */
@media (min-width: 1200px) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
