@font-face {
    font-family: 'varela';
    src: url('fonts/varelaround-regular-webfont.eot');
    src: url('fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/varelaround-regular-webfont.woff') format('woff'),
         url('fonts/varelaround-regular-webfont.ttf') format('truetype'),
         url('fonts/varelaround-regular-webfont.svg#varela') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "reset.less"; /* Normalize + HTML5 Boilerplate Reset*/
@import "grid.less"; /* Semantic Grid System */

/* Semantic Setup */
@column-width: 55;
@gutter-width: 30;
@columns: 12;
@total-width: 100%;


/* My Styles Here */
/*
    GENERAL STYLES 
    [ TYPOGRAPHY, INPUTS, BUTTONS ]
*/

h3{
    font-family: 'varela', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

h4{
    font-family: 'varela', sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

p, a, a:visited{
    font-family: 'varela', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

a, a:visited{
    text-decoration: none;
}


body, html{
    background: #efece7;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

/* feed screen stuff */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #58ddc0;
    padding: 10px 0;
    z-index: 6;
    box-shadow: 0px 4px 0px 0px rgba( 216, 211, 206, 0.5);

}

.top_bar{
    .column(12);
}

.top-bar-row{
    .row(12);
}

.menu_btn{
    .column(3,12);
}

.menu_btn img{
    display: block;
    height: (43/2) * 1px;
}

.snappy{
    .column(6,12);
}

.snappy img{
    display: block;
    margin: 0 auto;
    height: (56/2) * 1px;
}

.options_btns{
    .column(3,12);
}

.options_btns ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.options_btns ul li{
    float: left;
    margin-left: 15px;

}

.options_btns ul li img{
    display: block;
    height: 22px;
}

.feed{
    width: 100%;
    float: left;
    display: inline;
    background: #efece7;
    position: relative;
    padding: 10px 10px;
    
    z-index: 3;
    padding-top: 70px;
}
.snappy_item{
    background-color: #fff;
    float: left;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px;
    
}

.pic{
    .column(12);

}

.pic img{
    display: block;
    margin: 0 auto;
}

.pic_info{
    .column(12);
    margin-top: 10px;
}

.pic_info_row{
    .row(12);    
}

.user_thumb, .pic_btns{
    .column(6,12);
}

.user_thumb img{
    float: left;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 50px;
}

.user_thumb h3{
    color: #4c4c4c;
    margin: 8px 0 5px 0;
}

.elapsed-time{
    background: url(../img/clock_ico.png) no-repeat left;
    color: #aeaeae;
    float: left;
    padding-left: 25px;
}

.pic_btns ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.pic_btns ul li{
    float: left;
    text-align: center;
    padding: 0 10px;

}

.pic_btns ul li:last-child{
    border-left: 1px solid #b8b4ad;
    padding-right: 0; 
}

.pic_btns ul li img{
    display: block;
    margin: 5px auto;
    height: 24px;
}

.like p{
    color: #e75858;
}

.buy p{
    color: #00b286;
}

.pic-tags{
    .column(12);
    margin-top: 15px;
}

.pic-tags h4{
    color: #aeaeae;
}

.pic-tags ul{
    float: left;
    list-style: none;
    overflow: hidden;
    margin: 8px 0 0 0;
    padding: 0;
}

.pic-tags ul li{
    float: left;
    margin-right: 10px;
}

.pic-tags ul li a{
    color: #24b192;
}





/* CSS Breakpoints */
/* Smartphones */
@media (max-width: 480px) {


}

/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {

}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {

}

/* Large Display */
@media (min-width: 1200px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}